<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Peliculas
    <small>disponibles</small>
  </h1>

  <div class="row">
    <div class="col-lg-6 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="{{pelicula.url}}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{pelicula.nombre}}</a>
          </h4>
          <p class="card-text">{{pelicula.descripcion}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6 portfolio-item mt-5">
      <h1>Seleccione el tipo de pelicula</h1>
      <select name="tipo" id="tipo" class="form-control" [(ngModel)]="model.tipo">
        <option value="3D">3D</option>
        <option value="2D">2D</option>
      </select>
      <form [formGroup]="numeroForm" novalidate class="mt-5">
        <div class="form-group">
            <label for="numero" class="font-weight-bold mt-5">Numero de boletas</label>
            <input formControlName="numero" type="number" class="form-control" id="numero" [(ngModel)]="model.numero" name="numero" placeholder="Ingrese la cantidad de boletas deseadas" required>

            <!--mensaje de validacion para campos requeridos-->
            <div *ngIf="numero.invalid && (numero.dirty || numero.touched)"
                 class="alert alert-danger">
              <div *ngIf="numero.errors.required">
                Campo vacio.
              </div>
            </div>
            <div class="text-center">
              <button href="#" [disabled]="!numeroForm.valid" class="btn btn-info btn-lg mt-2" (click)="getAvailabilitySillas()">Comprar boletas</button>
            </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- .container -->