<h1 class="mt-5 ml-5">Seleccione las ubicaciones</h1>
<h5 class="ml-5">numero de ubicaciones a seleccionar: {{numeroBoletas}}</h5>

<div class="container">
  <div class="row m-3">
    <ng-container *ngFor="let silla of sillas;">
      <div class="col">
        <button  *ngIf="silla.disponibilidad == 'ocupada'" class="btn btn-danger btn-lg m-0 mb-4" disabled>{{silla.ubicacion}}</button>
        <button  resaltar-click [disabled]="contador==numeroBoletas" class="btn btn-primary btn-lg m-0 mb-4" (click)="seleccionarSilla(silla.id)" *ngIf="silla.disponibilidad != 'ocupada'" [class]="claseBtn">{{silla.ubicacion}}</button>
      </div>
    </ng-container>
    <div class="container text-center mt-4">
      <h2 [hidden]="contador<numeroBoletas" class="font-weight-bold">Ingrese la cantidad de dinero recibida</h2>
      <input [hidden]="contador<numeroBoletas" type="number" [(ngModel)]="model.dinero"/>
      <hr>
      <button [hidden]="contador<numeroBoletas" (click)="comprar()" class="btn btn-lg btn-success">Comprar boletas</button>
    </div>
  </div>
</div>

