<h1 class="mt-5 ml-5">Seleccione las ubicaciones</h1>
<h5 class="ml-5">numero de ubicaciones a seleccionar: {{numeroBoletas}}</h5>

<div class="container">
  <div class="row m-3">
    <ng-container *ngFor="let silla of sillas;">
      <div class="col">
        <button  *ngIf="silla.disponibilidad == 'ocupada'" class="btn btn-danger btn-lg m-0 mb-4" disabled>{{silla.ubicacion}}</button>
        <button  *ngIf="silla.disponibilidad != 'ocupada'" class="btn btn-info btn-lg m-0 mb-4">{{silla.ubicacion}}</button>
      </div>
    </ng-container>
  </div>
</div>

